<?xml version="1.0" encoding="UTF-8"?>
<!--

    The Kuali Financial System, a comprehensive financial management system for higher education.

    Copyright 2005-2021 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<!--
    Cornell Customization: backport redis
    Cornell Customization: Backport FINP-7916 upgrade to Spring 5.3.x
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/context
                           https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="jtaConfigurer" class="org.kuali.kfs.core.framework.persistence.jta.JtaConfigurer"/>

    <bean id="ojbConfigurer" class="org.kuali.kfs.core.framework.persistence.ojb.JtaOjbConfigurer"
          p:transactionManager-ref="jtaTransactionManager"/>

    <bean id="rice.core.config.propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:properties="#{T(org.kuali.kfs.core.api.config.property.ConfigContext).getCurrentContextConfig().getProperties()}"/>

    <bean id="userTransaction"
          class="org.kuali.kfs.core.framework.persistence.jta.UserTransactionFactoryBean"
          lazy-init="true"/>

    <bean id="jtaTransactionManager"
          class="org.kuali.kfs.core.framework.persistence.jta.TransactionManagerFactoryBean"
          lazy-init="true"/>

    <bean id="transactionManager"
          class="org.springframework.transaction.jta.JtaTransactionManager"
          lazy-init="true"
          p:userTransaction-ref="userTransaction"
          p:transactionManager-ref="jtaTransactionManager"/>

    <bean id="transactionTemplate"
          class="org.springframework.transaction.support.TransactionTemplate"
          p:transactionManager-ref="transactionManager"/>

    <!-- Proxy for rollback on all exceptions -->
    <bean id="matchAllWithPropReqCheckedException"
          class="org.springframework.transaction.interceptor.MatchAlwaysTransactionAttributeSource"
          lazy-init="true"
          p:transactionAttribute="PROPAGATION_REQUIRED,-Exception"/>

    <bean id="matchAllWithPropReq"
          class="org.springframework.transaction.interceptor.MatchAlwaysTransactionAttributeSource"
          lazy-init="true"
          p:transactionAttribute="PROPAGATION_REQUIRED"/>

    <bean id="matchAllTxInterceptor"
          class="org.kuali.kfs.core.framework.persistence.jta.KualiTransactionInterceptor"
          lazy-init="true"
          p:transactionManager-ref="transactionManager"
          p:transactionAttributeSource-ref="matchAllWithPropReq"/>

    <bean id="commonDefaultAdvisorAutoProxyCreator"
          class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="transactionAdvisorClassFilter"
          class="org.kuali.kfs.core.framework.util.spring.ClassOrMethodAnnotationFilter">
        <constructor-arg value="org.springframework.transaction.annotation.Transactional"/>
    </bean>

    <bean id="transactionInterceptor"
          class="org.kuali.kfs.core.framework.persistence.jta.KualiTransactionInterceptor"
          p:transactionManager-ref="transactionManager"
          p:transactionAttributeSource-ref="transactionAttributeSource"/>

    <bean id="transactionAdvisor"
          class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor"
          p:classFilter-ref="transactionAdvisorClassFilter"
          p:transactionInterceptor-ref="transactionInterceptor"/>

    <bean id="transactionAttributeSource"
          class="org.kuali.kfs.core.impl.util.spring.AnnotationAndNameMatchingTransactionAttributeSource"
          p:annotationTransactionAttributeSource-ref="annotationTransactionAttributeSource"
          p:transactionTimeout="${transaction.timeout}"/>

    <bean id="annotationTransactionAttributeSource"
          class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>

    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="interceptorNames">
            <list>
                <idref bean="matchAllTxInterceptor"/>
            </list>
        </property>
        <property name="beanNames">
            <list>
                <idref bean="xmlDigesterService"/>
            </list>
        </property>
    </bean>

    <!-- Mail Sender Factory -->
    <bean id="mailSender" class="org.kuali.kfs.core.mail.MailSenderFactoryBean"/>

    <bean id="dateTimeService" class="org.kuali.kfs.core.impl.datetime.DateTimeServiceImpl"/>

    <bean id="xmlImpexRegistry" class="org.kuali.kfs.core.impl.impex.xml.XmlImpexRegistryImpl"/>

    <bean id="xmlIngesterService" class="org.kuali.kfs.core.impl.impex.xml.XmlIngesterServiceImpl"
          p:xmlDigesterService-ref="xmlDigesterService" p:validate="true" p:xmlImpexRegistry-ref="xmlImpexRegistry"/>

    <bean id="xmlDigesterService" class="org.kuali.kfs.core.impl.impex.xml.XmlDigesterServiceImpl"/>

    <bean id="xmlExporterService" class="org.kuali.kfs.core.impl.impex.xml.XmlExporterServiceImpl"
          p:xmlImpexRegistry-ref="xmlImpexRegistry"/>
</beans>
