<?xml version="1.0" encoding="UTF-8"?>
<!--

    The Kuali Financial System, a comprehensive financial management system for higher education.

    Copyright 2005-2024 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Look for Spring-annotated classes. -->
    <!--
        CU Customization: Updated the component scanning below to specifically exclude Controller classes,
        to simplify the setup of our Cornell-specific MVC endpoints. The initialization of those
        base-financials-specific Controllers will be handled by a Spring child context instead;
        see the KFSConfigurer overlay and "kualico-spring-kfs-mvc.xml" for details.
        Also, the configuration class annotated with @EnableWebMvc needs to be excluded here
        and then re-included in each child Spring context.
    -->
    <context:component-scan base-package="org.kuali.kfs">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.servlet.config.annotation.EnableWebMvc"/>
    </context:component-scan>

    <bean class="org.kuali.kfs.core.framework.persistence.ojb.JtaOjbConfigurer"
          id="ojbConfigurer"
          p:transactionManager-ref="jtaTransactionManager"
    />

    <bean class="org.springframework.transaction.jta.JtaTransactionManager"
          id="transactionManager"
          lazy-init="true"
          p:transactionManager-ref="jtaTransactionManager"
          p:userTransaction-ref="jtaUserTransaction"
    />

    <bean class="org.springframework.transaction.support.TransactionTemplate"
          id="transactionTemplate"
          p:transactionManager-ref="transactionManager"
    />

    <!-- Proxy for rollback on all exceptions -->
    <bean class="org.springframework.transaction.interceptor.MatchAlwaysTransactionAttributeSource"
          id="matchAllWithPropReqCheckedException"
          lazy-init="true"
          p:transactionAttribute="PROPAGATION_REQUIRED,-Exception"
    />

    <bean class="org.springframework.transaction.interceptor.MatchAlwaysTransactionAttributeSource"
          id="matchAllWithPropReq"
          lazy-init="true"
          p:transactionAttribute="PROPAGATION_REQUIRED"
    />

    <bean class="org.kuali.kfs.core.framework.persistence.jta.KualiTransactionInterceptor"
          id="matchAllTxInterceptor"
          lazy-init="true"
          p:transactionAttributeSource-ref="matchAllWithPropReq"
          p:transactionManager-ref="transactionManager"
    />

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          id="commonDefaultAdvisorAutoProxyCreator"
    />

    <bean class="org.kuali.kfs.core.framework.util.spring.ClassOrMethodAnnotationFilter"
          id="transactionAdvisorClassFilter"
          c:annotationType="org.springframework.transaction.annotation.Transactional"
    />

    <bean class="org.kuali.kfs.core.framework.persistence.jta.KualiTransactionInterceptor"
          id="transactionInterceptor"
          p:transactionAttributeSource-ref="transactionAttributeSource"
          p:transactionManager-ref="transactionManager"
    />

    <bean class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor"
          id="transactionAdvisor"
          p:classFilter-ref="transactionAdvisorClassFilter"
          p:transactionInterceptor-ref="transactionInterceptor"
    />

    <bean class="org.kuali.kfs.core.impl.util.spring.AnnotationAndNameMatchingTransactionAttributeSource"
          id="transactionAttributeSource"
          p:annotationTransactionAttributeSource-ref="annotationTransactionAttributeSource"
          p:transactionTimeout="${transaction.timeout}"
    />

    <bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"
          id="annotationTransactionAttributeSource"
    />

    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="interceptorNames">
            <list>
                <value>matchAllTxInterceptor</value>
            </list>
        </property>
        <property name="beanNames">
            <list>
                <value>actionInvocationQueue</value>
                <value>actionListCustomizationHandlerService</value>
                <value>actionListEmailService</value>
                <value>actionListService</value>
                <value>actionRequestService</value>
                <value>actionTakenService</value>
                <value>branchService</value>
                <value>componentService</value>
                <value>documentAttributeIndexingQueue</value>
                <value>documentOrchestrationQueue</value>
                <value>documentProcessingQueue</value>
                <value>documentRefreshQueue</value>
                <value>documentRouteHeaderService</value>
                <value>documentSearchCustomizationHandlerService</value>
                <value>documentSearchService</value>
                <value>documentSecurityHandlerService</value>
                <value>documentTypePermissionService</value>
                <value>documentTypeService</value>
                <value>exceptionRoutingService</value>
                <value>groupMembershipChangeQueue</value>
                <value>kimGroupService</value>
                <value>kimResponsibilityService</value>
                <value>kimRoleInternalService</value>
                <value>notificationService</value>
                <value>parameterRepositoryService</value>
                <value>permissionService</value>
                <value>preferencesService</value>
                <value>responsibilityChangeQueue</value>
                <value>rice.ksb.exceptionMessagingService</value>
                <value>ksb.messageQueueService</value>
                <value>roleService</value>
                <value>routeModuleService</value>
                <value>routeNodeService</value>
                <value>routingReportService</value>
                <value>ruleAttributeService</value>
                <value>stuckDocumentService</value>
                <value>workflowDocumentActionsService</value>
                <value>workflowDocumentService</value>
                <value>workflowEngine</value>
                <value>xmlDigesterService</value>
            </list>
        </property>
    </bean>

    <bean class="org.kuali.kfs.core.mail.MailSenderFactoryBean"
          id="mailSender"
    />

    <bean class="org.kuali.kfs.core.impl.datetime.DateTimeServiceImpl"
          id="dateTimeService"
    />

    <bean class="org.kuali.kfs.core.impl.impex.xml.XmlImpexRegistryImpl"
          id="xmlImpexRegistry"
    />

    <bean class="org.kuali.kfs.core.impl.impex.xml.XmlIngesterServiceImpl"
          id="xmlIngesterService"
          p:validate="true"
          p:xmlDigesterService-ref="xmlDigesterService"
          p:xmlImpexRegistry-ref="xmlImpexRegistry"
    />

    <bean class="org.kuali.kfs.core.impl.impex.xml.XmlDigesterServiceImpl"
          id="xmlDigesterService"
    />

    <bean class="org.kuali.kfs.core.impl.impex.xml.XmlExporterServiceImpl"
          id="xmlExporterService"
    />

</beans>
