<!--

    The Kuali Financial System, a comprehensive financial management system for higher education.

    Copyright 2005-2021 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean id="rice.kew.propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:properties="#{T(org.kuali.kfs.core.api.config.property.ConfigContext).getCurrentContextConfig().getProperties()}"/>

    <bean id="workflowDocumentPrototype" class="org.kuali.kfs.kew.impl.document.WorkflowDocumentImpl"
          scope="prototype"
          p:workflowDocumentActionsService-ref="workflowDocumentActionsService"
          p:workflowDocumentService-ref="workflowDocumentService"/>

    <bean id="kewDataSource"
          class="org.kuali.kfs.core.framework.persistence.jdbc.datasource.PrimaryDataSourceFactoryBean">
        <property name="preferredDataSourceParams">
            <list>
                <value>org.kuali.workflow.datasource</value>
            </list>
        </property>
    </bean>

    <bean id="documentTypeService" class="org.kuali.kfs.kew.doctype.service.impl.DocumentTypeServiceImpl"
          p:documentTypeDAO-ref="documentTypeDAO"
    />

    <bean id="routingReportService"
          class="org.kuali.kfs.kew.routemodule.service.impl.RoutingReportServiceImpl"
          lazy-init="true"
          p:simulationEngine-ref="simulationEngine"
    />

    <bean id="documentRouteHeaderService" class="org.kuali.kfs.kew.routeheader.service.impl.RouteHeaderServiceImpl"
          lazy-init="true" p:routeHeaderDAO-ref="documentRouteHeaderDAO"
          p:searchableAttributeDAO-ref="searchableAttributeDAO"/>

    <bean id="routeNodeService" class="org.kuali.kfs.kew.engine.node.service.impl.RouteNodeServiceImpl"
          lazy-init="true" p:routeNodeDAO-ref="routeNodeDAO"/>

    <bean id="workflowEngineFactory" class="org.kuali.kfs.kew.engine.WorkflowEngineFactoryImpl"
          p:routeHeaderService-ref="documentRouteHeaderService" p:routeNodeService-ref="routeNodeService"/>

    <bean id="documentSearchService" class="org.kuali.kfs.kew.docsearch.service.impl.DocumentSearchServiceImpl"
          p:documentSearchDAO-ref="documentSearchDAO" p:userOptionsService-ref="userOptionsService"
          p:documentSearchCustomizationMediator-ref="documentSearchCustomizationMediator"/>

    <bean id="documentSearchDAO" class="org.kuali.kfs.kew.docsearch.dao.impl.DocumentSearchDAOJdbcImpl"
          lazy-init="true" p:dataSource-ref="kewDataSource" p:parameterService-ref="parameterService"/>

    <bean id="documentSearchCustomizationMediator"
          class="org.kuali.kfs.kew.docsearch.DocumentSearchCustomizationMediatorImpl"/>

    <bean id="routeModuleService" class="org.kuali.kfs.kew.routemodule.service.impl.RouteModuleServiceImpl"
          lazy-init="true"/>

    <!-- 2.1 Workflow Engine -->
    <bean id="workflowEngine" class="org.kuali.kfs.kew.engine.StandardWorkflowEngine" lazy-init="true"
          p:routeHeaderService-ref="documentRouteHeaderService" p:routeNodeService-ref="routeNodeService"
          p:parameterService-ref="parameterService"/>

    <bean id="simulationEngine" class="org.kuali.kfs.kew.engine.simulation.SimulationEngine" lazy-init="true"
          scope="prototype" p:routeHeaderService-ref="documentRouteHeaderService"
          p:routeNodeService-ref="routeNodeService" p:parameterService-ref="parameterService"/>

    <bean id="branchService" class="org.kuali.kfs.kew.engine.node.service.impl.BranchServiceImpl" lazy-init="true"
          p:branchDAO-ref="branchDAO"/>

    <bean id="actionRequestService" class="org.kuali.kfs.kew.actionrequest.service.impl.ActionRequestServiceImpl"
          lazy-init="true" p:actionRequestDAO-ref="actionRequestDAO"/>

    <bean id="actionListService" class="org.kuali.kfs.kew.actionlist.service.impl.ActionListServiceImpl"
          lazy-init="true" p:actionListDAO-ref="actionListDAO" p:actionItemDAO-ref="actionItemDAO"/>

    <bean id="userOptionsService" class="org.kuali.kfs.kew.useroptions.UserOptionsServiceImpl" lazy-init="true"
          p:userOptionsDAO-ref="userOptionsDAO"/>

    <bean id="actionTakenService" class="org.kuali.kfs.kew.actiontaken.service.impl.ActionTakenServiceImpl"
          lazy-init="true" p:actionTakenDAO-ref="actionTakenDAO"/>

    <bean id="workflowDocumentActionsService"
          class="org.kuali.kfs.kew.impl.action.WorkflowDocumentActionsServiceImpl"
          p:actionRegistry-ref="actionRegistry"
          p:actionRequestService-ref="actionRequestService"
          p:actionTakenService-ref="actionTakenService"
          p:documentAttributeIndexingQueue-ref="documentAttributeIndexingQueue"
          p:documentTypePermissionService-ref="documentTypePermissionService"
          p:documentTypeService-ref="documentTypeService"
          p:groupService-ref="kimGroupService"
          p:identityHelperService-ref="kewIdentityHelperService"
          p:routeHeaderService-ref="documentRouteHeaderService"
          p:routeNodeService-ref="routeNodeService"
          p:routingReportService-ref="routingReportService"
          p:simulationEngine-ref="simulationEngine"
          p:workflowEngineFactory-ref="workflowEngineFactory"
    />

    <bean id="workflowDocumentService" class="org.kuali.kfs.kew.impl.document.WorkflowDocumentServiceImpl"/>

    <bean id="documentTypePermissionService"
          class="org.kuali.kfs.kew.doctype.service.impl.DocumentTypePermissionServiceAuthorizerImpl"/>

    <bean id="documentSecurityService" class="org.kuali.kfs.kew.doctype.service.impl.DocumentSecurityServiceImpl"
          p:ruleAttributeService-ref="ruleAttributeService"/>

    <bean id="exceptionRoutingService"
          class="org.kuali.kfs.kew.messaging.exceptionhandling.ExceptionRoutingServiceImpl" lazy-init="true"/>

    <bean id="notificationService" class="org.kuali.kfs.kew.notification.service.impl.DefaultNotificationService"
          lazy-init="true"/>

    <bean id="actionRegistry" class="org.kuali.kfs.kew.actions.ActionRegistryImpl" lazy-init="true"/>

    <bean id="kewIdentityHelperService" class="org.kuali.kfs.kew.identity.service.impl.IdentityHelperServiceImpl"/>

    <bean id="responsibilityChangeQueue" class="org.kuali.kfs.kew.impl.responsibility.ResponsibilityChangeQueueImpl"/>

    <bean id="actionListCustomizationMediator"
          class="org.kuali.kfs.kew.impl.actionlist.ActionListCustomizationMediatorImpl"
          p:actionListCustomizationHandler-ref="actionListCustomizationHandlerService"/>

    <bean id="actionListCustomizationHandlerService"
          class="org.kuali.kfs.kew.impl.actionlist.ActionListCustomizationHandlerServiceImpl"
          p:documentTypeService-ref="documentTypeService"/>

    <bean id="documentSearchCustomizationHandlerService"
          class="org.kuali.kfs.kew.docsearch.DocumentSearchCustomizationHandlerServiceImpl"
          p:ruleAttributeService-ref="ruleAttributeService"/>

    <bean id="documentSecurityHandlerService"
          class="org.kuali.kfs.kew.impl.document.security.DocumentSecurityHandlerServiceImpl"
          p:ruleAttributeService-ref="ruleAttributeService"/>

    <bean id="ruleAttributeService" class="org.kuali.kfs.kew.rule.service.impl.RuleAttributeServiceImpl"
          lazy-init="true" p:ruleAttributeDAO-ref="ruleAttributeDAO"/>

    <bean id="preferencesService" class="org.kuali.kfs.kew.preferences.service.impl.PreferencesServiceImpl"/>

    <bean id="documentOrchestrationQueue" class="org.kuali.kfs.kew.impl.action.DocumentOrchestrationQueueImpl"/>

    <bean id="actionInvocationQueue" class="org.kuali.kfs.kew.impl.action.ActionInvocationQueueImpl"/>

    <bean id="documentRefreshQueue" class="org.kuali.kfs.kew.impl.document.DocumentRefreshQueueImpl"/>

    <bean id="documentAttributeIndexingQueue"
          class="org.kuali.kfs.kew.impl.document.attribute.DocumentAttributeIndexingQueueImpl"/>

    <bean id="documentProcessingQueue" class="org.kuali.kfs.kew.impl.document.DocumentProcessingQueueImpl"
          p:workflowEngineFactory-ref="workflowEngineFactory"
          p:documentAttributeIndexingQueue-ref="documentAttributeIndexingQueue"/>

    <bean id="kewModule" class="org.kuali.kfs.sys.service.impl.KfsModuleServiceImpl"
          p:moduleConfiguration-ref="kewModuleConfiguration"
    />

    <bean id="kewModuleConfiguration" class="org.kuali.kfs.sys.FinancialSystemModuleConfiguration"
          p:namespaceCode="KFS-WKFLW"
          p:dataSourceName="kewDataSource"
          p:initializeDataDictionary="true"
          p:dataDictionaryService-ref="dataDictionaryService"
          p:persistenceService-ref="persistenceServiceOjb"
    >
        <property name="dataDictionaryPackages">
            <list>
                <value>classpath:org/kuali/kfs/kew/bo/datadictionary/RuleAttribute.xml</value>
                <value>classpath:org/kuali/kfs/kew/bo/datadictionary/DocumentType.xml</value>
                <value>classpath:org/kuali/kfs/kew/bo/datadictionary/DocumentRouteHeaderValue.xml</value>
                <value>classpath:org/kuali/kfs/kew/document/datadictionary/DocumentTypeMaintenanceDocument.xml</value>
                <value>classpath:org/kuali/kfs/kew/impl/document/search/DocumentSearchCriteriaBo.xml</value>
            </list>
        </property>
        <property name="packagePrefixes">
            <list>
                <value>org.kuali.kfs.kew</value>
            </list>
        </property>
        <property name="scriptConfigurationFilePaths">
            <list>
                <value>org/kuali/kfs/kew/config/dwr-kew.xml</value>
            </list>
        </property>
        <property name="databaseRepositoryFilePaths">
            <list>
                <value>org/kuali/kfs/kew/impl/config/OJB-repository-kew-classes.xml</value>
            </list>
        </property>
        <property name="triggerNames">
            <list>
                <value>stuckDocumentAutofixTrigger</value>
                <value>stuckDocumentNotificationTrigger</value>
            </list>
        </property>
        <property name="jobNames">
            <list>
                <value>stuckDocumentAutofixJob</value>
                <value>stuckDocumentNotificationJob</value>
            </list>
        </property>
        <property name="batchFileDirectories">
            <list>
                <value>${reports.directory}/wkflw</value>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="interceptorNames">
            <list>
                <idref bean="matchAllTxInterceptor"/>
            </list>
        </property>
        <property name="beanNames">
            <list>
                <idref local="documentRouteHeaderService"/>
                <idref local="actionListService"/>
                <idref local="documentSearchService"/>
                <idref local="documentTypePermissionService"/>
                <idref local="actionTakenService"/>
                <idref local="actionRequestService"/>
                <idref local="documentTypeService"/>
                <idref local="routingReportService"/>
                <idref local="notificationService"/>
                <idref local="routeModuleService"/>
                <idref local="workflowEngine"/>
                <idref local="routeNodeService"/>
                <idref local="branchService"/>
                <idref local="exceptionRoutingService"/>
                <idref local="preferencesService"/>
                <idref local="documentProcessingQueue"/>
                <idref local="documentOrchestrationQueue"/>
                <idref local="documentAttributeIndexingQueue"/>
                <idref local="responsibilityChangeQueue"/>
                <idref local="documentRefreshQueue"/>
                <idref local="workflowDocumentActionsService"/>
                <idref local="workflowDocumentService"/>
                <idref local="actionListCustomizationHandlerService"/>
                <idref local="documentSearchCustomizationHandlerService"/>
                <idref local="documentSecurityHandlerService"/>
                <idref local="actionInvocationQueue"/>
            </list>
        </property>
    </bean>

    <bean id="kewOjbConfigurer" class="org.kuali.kfs.core.framework.persistence.ojb.BaseOjbConfigurer"
          p:metadataLocation="classpath:org/kuali/kfs/kew/impl/config/OJB-repository-kew-connection.xml"
          p:jcdAliases="kewDataSource"/>

    <bean id="documentTypeDAO" class="org.kuali.kfs.kew.doctype.dao.impl.DocumentTypeDAOOjbImpl" lazy-init="true"
          p:jcdAlias="kewDataSource"/>

    <bean id="actionListDAO" class="org.kuali.kfs.kew.actionlist.dao.impl.ActionListDAOOjbImpl" lazy-init="true"
          p:jcdAlias="kewDataSource"/>

    <bean id="actionItemDAO" class="org.kuali.kfs.kew.actionitem.dao.impl.ActionItemDAOOjbImpl" lazy-init="true"
          p:jcdAlias="kewDataSource"/>

    <bean id="actionTakenDAO" class="org.kuali.kfs.kew.actiontaken.dao.impl.ActionTakenDAOOjbImpl" lazy-init="true"
          p:jcdAlias="kewDataSource"/>

    <bean id="actionRequestDAO" class="org.kuali.kfs.kew.actionrequest.dao.impl.ActionRequestDAOOjbImpl"
          lazy-init="true" p:jcdAlias="kewDataSource"/>

    <bean id="ruleAttributeDAO" class="org.kuali.kfs.kew.rule.dao.impl.RuleAttributeDAOOjbImpl" lazy-init="true"
          p:jcdAlias="kewDataSource"/>

    <bean id="branchDAO" class="org.kuali.kfs.kew.engine.node.dao.impl.BranchDAOOjbImpl" lazy-init="true"
          p:jcdAlias="kewDataSource"/>

    <bean id="routeNodeDAO" class="org.kuali.kfs.kew.engine.node.dao.impl.RouteNodeDAOOjbImpl"
          p:jcdAlias="kewDataSource" lazy-init="true" p:dataSource-ref="kewDataSource"/>

    <bean id="documentRouteHeaderDAO" class="org.kuali.kfs.kew.routeheader.dao.impl.DocumentRouteHeaderDAOOjbImpl"
          lazy-init="true" p:jcdAlias="kewDataSource"/>

    <bean id="searchableAttributeDAO" class="org.kuali.kfs.kew.docsearch.dao.impl.SearchableAttributeDAOOjbImpl"
          lazy-init="true" p:jcdAlias="kewDataSource"/>

    <bean id="userOptionsDAO" class="org.kuali.kfs.kew.useroptions.dao.impl.UserOptionsDAOOjbImpl" lazy-init="true"
          p:jcdAlias="kewDataSource"/>

    <bean id="stuckDocumentDao" parent="platformAwareDaoJdbc"
          class="org.kuali.kfs.kew.impl.stuck.StuckDocumentDaoJdbc"/>

    <bean id="emailContentService" class="org.kuali.kfs.kew.mail.service.impl.EmailContentServiceImpl"
          lazy-init="true"
          p:emailService-ref="emailService"
          p:routeHeaderService-ref="documentRouteHeaderService"
          p:deploymentEnvironment=""/>

    <bean class="org.kuali.kfs.kew.mail.service.impl.CustomizableActionListEmailServiceImpl"
          id="actionListEmailService"
          p:emailContentGenerator-ref="emailContentService"
          p:emailService-ref="emailService"/>

    <bean id="groupMembershipChangeQueue" class="org.kuali.kfs.kew.impl.group.GroupMembershipChangeQueueImpl"/>

    <bean id="immediateEmailReminderQueue" class="org.kuali.kfs.kew.impl.mail.ImmediateEmailReminderQueueImpl"/>

    <bean id="groupXmlService" class="org.kuali.kfs.kew.xml.GroupXmlServiceImpl"/>
    <bean id="userXmlService" class="org.kuali.kfs.kew.xml.UserXmlServiceImpl"/>

    <bean id="kewImpexRegistrations" class="org.kuali.kfs.core.framework.impex.xml.XmlImpexRegistrationBean"
          p:xmlImpexRegistry-ref="xmlImpexRegistry">
        <property name="xmlLoadersToRegister">
            <list>
                <ref local="userXmlService"/>
                <ref local="ruleAttributeService"/>
                <ref local="groupXmlService"/>
                <ref local="documentTypeService"/>
            </list>
        </property>
        <property name="xmlExportersToRegister">
            <list>
                <ref local="ruleAttributeService"/>
                <ref local="groupXmlService"/>
                <ref local="documentTypeService"/>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="interceptorNames">
            <list>
                <idref bean="matchAllTxInterceptor"/>
            </list>
        </property>
        <property name="beanNames">
            <list>
                <idref local="groupMembershipChangeQueue"/>
                <idref local="actionListEmailService"/>
                <idref local="stuckDocumentService"/>
            </list>
        </property>
    </bean>

    <!-- Stuck document configuration -->
    <bean id="stuckDocumentAutofixJob" parent="stuckDocumentAutofixJob-parentBean"/>
    <bean id="stuckDocumentAutofixJob-parentBean" parent="scheduledJobDescriptor" abstract="true">
        <property name="steps">
            <list>
                <ref bean="stuckDocumentAutofixStep"/>
            </list>
        </property>
    </bean>

    <bean id="stuckDocumentAutofixStep" parent="stuckDocumentAutofixStep-parentBean"/>
    <bean id="stuckDocumentAutofixStep-parentBean" parent="step"
          class="org.kuali.kfs.kew.impl.stuck.StuckDocumentAutofixStep" abstract="true"
          p:stuckDocumentService-ref="stuckDocumentService"
    />

    <bean id="stuckDocumentAutofixTrigger" parent="stuckDocumentAutofixTrigger-parentBean"/>
    <bean id="stuckDocumentAutofixTrigger-parentBean" parent="cronTrigger" abstract="true"
          p:jobName="stuckDocumentAutofixJob"
          p:cronExpression="${stuck.document.autofix.cron.expression}"/>

    <bean id="stuckDocumentNotificationJob" parent="stuckDocumentNotificationJob-parentBean"/>
    <bean id="stuckDocumentNotificationJob-parentBean" parent="scheduledJobDescriptor" abstract="true">
        <property name="steps">
            <list>
                <ref bean="stuckDocumentNotificationStep"/>
            </list>
        </property>
    </bean>

    <bean id="stuckDocumentNotificationStep" parent="stuckDocumentNotificationStep-parentBean"/>
    <bean id="stuckDocumentNotificationStep-parentBean" parent="step"
          class="org.kuali.kfs.kew.impl.stuck.StuckDocumentNotificationStep" abstract="true"
          p:notifier-ref="stuckDocumentNotifier"
          p:stuckDocumentService-ref="stuckDocumentService"
    />

    <bean id="stuckDocumentNotificationTrigger" parent="stuckDocumentNotificationTrigger-parentBean"/>
    <bean id="stuckDocumentNotificationTrigger-parentBean" parent="cronTrigger" abstract="true"
          p:jobName="stuckDocumentNotificationJob"
          p:cronExpression="${stuck.document.notification.cron.expression}"/>

    <bean id="stuckDocumentService" class="org.kuali.kfs.kew.impl.stuck.StuckDocumentServiceImpl"
          p:stuckDocumentDao-ref="stuckDocumentDao"
          p:notifier-ref="stuckDocumentNotifier"
          p:businessObjectService-ref="businessObjectService"
          p:parameterService-ref="parameterService"
    />

    <bean id="stuckDocumentNotifier"
          class="org.kuali.kfs.kew.impl.stuck.StuckDocumentNotifierImpl"
          p:emailService-ref="emailService"
          p:parameterService-ref="parameterService"
    />

    <bean id="kewApiConstants" class="org.kuali.kfs.core.api.util.collect.ConstantsMap"
          p:constantClass="org.kuali.kfs.kew.api.KewApiConstants"/>

    <bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
        <property name="attributes">
            <map>
                <entry key="KewApiConstants" value-ref="kewApiConstants"/>
            </map>
        </property>
    </bean>

    <bean id="docTypeLookupHelperService" class="org.kuali.kfs.kew.doctype.DocumentTypeLookupableHelperServiceImpl"
          scope="prototype"/>

    <bean id="docTypeLookupable" class="org.kuali.kfs.kns.lookup.KualiLookupableImpl" scope="prototype"
          p:lookupableHelperService-ref="docTypeLookupHelperService"/>

    <bean id="documentSearchCriteriaProcessor"
          class="org.kuali.kfs.kew.docsearch.DocumentSearchCriteriaProcessorKEWAdapter"/>

    <bean id="documentSearchCriteriaTranslator"
          class="org.kuali.kfs.kew.impl.document.search.DocumentSearchCriteriaTranslatorImpl"/>

    <bean id="documentSearchCriteriaBoLookupableHelperService"
          class="org.kuali.kfs.kew.impl.document.search.DocumentSearchCriteriaBoLookupableHelperService"
          scope="prototype"
          p:documentSearchCriteriaProcessor-ref="documentSearchCriteriaProcessor"
          p:documentSearchCriteriaTranslator-ref="documentSearchCriteriaTranslator"
          p:documentSearchService-ref="documentSearchService"/>

    <bean id="documentSearchCriteriaBoLookupable" class="org.kuali.kfs.kns.lookup.KualiLookupableImpl"
          scope="prototype" p:lookupableHelperService-ref="documentSearchCriteriaBoLookupableHelperService"
          p:extraOnLoad="storeCurrentDocTypeNameOnLoad()"/>
</beans>
