/**
 * The Kuali Financial System, a comprehensive financial management system for higher education.
 *
 * Copyright 2005-2024 Kuali, Inc.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.clickable {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}

.wrap-break-word {
  overflow-wrap: break-word;
}

input[type=radio]:not(:first-child) {
    margin-left: 15px;
}

input[type=radio] {
    margin-right: 5px;
}

#view_div {
    padding: 20px;
    background-color: var(--kuali-light-gray-100);
}

#view_div .lookupcreatenew {
    float: right;
    padding-top: 9px;
    height: 50px;
    position: absolute;
    top: 19px;
    right: 19px;
}

#view_div .main-panel .lookupcreatenew {
    float: right;
    margin-right: 35px;
}

#view_div .inquiry .lookupcreatenew {
    top: 38px;
    right: 74px;
}

#remodal #view_div .inquiry .lookupcreatenew {
    top: 5px;
    right: 37px;
}

#view_div .main-panel .toggle-show-tab {
    color: #5F7D8C;
    float: right;
    font-size: 16px;
    margin: 15px 0;
}

#view_div .main-panel .toggle-show-tab > span {
    padding: 0;
    cursor: pointer;
}

#view_div .msg-excol .error {
    color: #C47965;
    margin-left: 30px;
}

#view_div .left-errmsg {
    color: #6DA487;
    margin-left: 30px;
}

#view_div .left-errmsg > .error,
#view_div .left-errmsg > .warning {
    color: #C47965;
    margin-left: 0;
}

#view_div .headerarea-small {
    height: 50px;
}

#view_div .inquiry .headerarea-small {
    padding-left: 10px;
    padding-right: 10px;
}

#view_div .main-panel .headerarea-small {
    background-color: white;
    box-shadow: 0px 2px 0px 0px #F3F3F3;
    overflow-y: hidden;
    padding: 0 24px;
}

#view_div a.help-link {
    line-height: 45px;
}

#view_div span.help-label {
    font-size: 12px;
    text-transform: none;
    line-height: 50px;
}

#view_div a img {
    width: inherit;
    height: inherit;
}

#view_div a img.help {
    width: 13px;
    height: 13px;
}

#view_div .right {
    text-align: right;
}

#view_div .left {
    text-align: left;
}

div.excol {
    color: #999999;
    font-size: 14px;
    margin-right: 35px;
    padding-top: 8px;
}

.inquiry div.excol {
    margin-right: 10px;
}

#view_div .headerarea-small h1 {
    margin: 0px;
    font-weight: 300;
    font-size: 28px;
    line-height: 50px;
    color: #515C67;
    float: left;
}

#view_div .headerarea-small h2 {
    margin: 10px 0;
    font-weight: 400;
    font-size: 16px;
    color: #515C67;
    float: left;
    text-transform: uppercase;
}

#view_div .main-panel {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}

#view_div .inquiry .main-panel {
    margin: 10px;
}

#view_div .main-panel:not(:first-child) {
    margin-top: 10px;
}

#lookup {
    padding-top: 20px;
}

#lookup .multi-column-table th {
    text-align: left;
    padding-bottom: 0;
    height: 30px;
}

#lookup .multi-column-table > tbody > tr > td {
    vertical-align: top;
    padding-bottom: 0;
}

#lookup .multi-column-table > tbody > tr > td:first-child {
    padding-right: 35px;
}

#lookup th {
    text-align: right;
    height: 30px;
}

#lookup th,
#lookup td {
    padding-bottom: 12px;
}

#lookup td.infoline input[type=image] {
    padding-right: 10px;
}

#lookup td.infoline {
    border-top: 1px solid #E7E7E7;
    padding-top: 20px;
    padding-bottom: 12px !important;
    padding-right: 0 !important;
}

#lookup.fixedButtons {
    padding-top: 20px;
    padding-bottom: 65px;
}

#lookup.fixedButtons.multiline {
    padding-bottom: 130px;
}

#lookup td.infoline.fixed {
    position: fixed;
    bottom: 0;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.9);
}

#lookup td.infoline.multiline.fixed {
    height: 130px;
}

#lookup td.infoline img {
    vertical-align: top;
}

#lookup label {
    font-weight: normal;
    font-size: 15px;
    color: #707070;
    padding-right: 12px;
}

#lookup input[type=text],
#lookup select,
#lookup textarea {
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    margin-right: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    padding: 0 5px;
}

#lookup input[type=text],
#lookup select {
    height: 30px;
}

#lookup input[type=text],
#lookup select {
    width: 290px;
}

.doc .datatable th,
.doc .datatable td {
    padding: 3px;
}

.doc .main-panel .tab-container table.min-100 th,
.doc .main-panel .tab-container td {
    min-width: 100px;
}

.doc .main-panel .tab-container table.no-min td {
    min-width: 0;
}

.doc input[type=text],
.doc select {
    width: initial;
    max-width: 90%;
}

#lookup select[multiple=true] {
    height: 120px;
}

.search-message {
    text-align: center;
    font-size: 15px;
    color: #555555;
    padding-top: 14px;
}

.search-results .headerarea-small.fixed {
    position: fixed;
    top: 0;
}

.test-env .search-results .headerarea-small.fixed {
    position: fixed;
    top: 40px;
}

.search-results table {
    width: 100%;
}

.search-results table table {
    width: 90%;
    margin: 0 auto;
}

.search-results table.fixedHeader {
    margin-top: 50px;
}

.search-results .paginator {
    float: right;
    line-height: 50px;
    font-size: 15px;
    color: #555555;
}

.search-results .paginator .pagebanner {
    padding-right: 25px;
}

.search-results .paginator .pagebanner .results-showing {
    font-weight: 700;
}

.paginator .pagelinks .btn {
    margin: 0;
}

.paginator .pagelinks a {
    color: #555555;
    text-decoration: none;
}

.paginator .pagelinks span {
    padding: 4px;
}

.paginator .pagelinks span.btn {
    padding: 2px 12px 2px 12px;
}

.paginator .pagelinks span.btn > a {
    border-bottom: none;
}

.paginator .pagelinks span > a {
    border-bottom: 1px #979797 dotted;
}

.paginator .pagelinks div.pagenumbers {
    padding-right: 10px;
    padding-left: 10px;
    display: inline;
    font-weight: 300;
}

.paginator .pagelinks div.pagenumbers a {
    text-decoration: underline;
}

#view_div table .numbercell {
    text-align: right;
}

.datatable-100 td.infocell {
    color: #555555;
}

.datatable-100 td.infocell a {
    color: #555555;
    text-decoration: underline;
}

.datatable-100 thead th a {
    color: #333333;
}

#row th {
    vertical-align: top;
}

#row th,
#row td {
    border-top: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    padding: 4px;
    font-size: 13px;
}

#row th:first-child,
#row td:first-child {
    border-left: none;
}

#row tr:last-child td {
    border-bottom: 1px solid #E1E1E1;
}

tr.even {
    background-color: rgba(202, 202, 202, 0.2);
}

.exportlinks {
    font-size: 15px;
    padding: 10px;
}

.exportlinks a {
    color: #555;
    border-bottom: 1px #979797 dotted;
}

.exportlinks a:hover {
    text-decoration: none;
}

#search-results {
    display: block;
    position: relative;
    top: -82px;
    visibility: hidden;
}

.inquiry #globalbuttons,
.doc #globalbuttons {
    text-align: center;
    background-color: #F9F9F9;
    height: 62px;
    line-height: 62px;
    margin: 0 -20px -40px -20px;
    position: fixed;
    bottom: 40px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
}

.inquiry #globalbuttons.fixed,
.doc #globalbuttons.fixed {
    position: fixed;
    bottom: 40px;
    height: 62px;
    background-color: rgba(255, 255, 255, 0.9);
}

.inquiry #globalbuttons .btn,
.doc #globalbuttons .btn {
    font-size: 16px;
}

.infoline #globalbuttons {
    position: inherit;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    width: inherit;
    padding-top: 15px;
}

.infoline.fixed #globalbuttons {
    height: 36px;
}

div.inquiry {
    margin-bottom: 70px;
}

div.inquiry.fixedButtons {
    padding-bottom: 62px;
}

td.grid div.link-wrapper,
td.infocell div.link-wrapper {
    display: inline;
    white-space: nowrap;
}

h2 a.new-window,
td.grid a.new-window,
td.infocell a.new-window,
td.infoline a.new-window,
td.datacell a.new-window {
    text-decoration: none;
}

h2 a.new-window span.glyphicon,
td.grid a.new-window span.glyphicon,
td.infocell a.new-window span.glyphicon,
td.infoline a.new-window span.glyphicon,
td.datacell a.new-window span.glyphicon {
    visibility: hidden;
}

h2:hover a.new-window span.glyphicon,
td.grid:hover a.new-window span.glyphicon,
td.infocell:hover a.new-window span.glyphicon,
td.infoline:hover a.new-window span.glyphicon,
td.datacell:hover a.new-window span.glyphicon {
    visibility: inherit;
    opacity: .4;
}

h2 a.new-window:hover span.glyphicon,
td.grid a.new-window:hover span.glyphicon,
td.infocell a.new-window:hover span.glyphicon,
td.infoline a.new-window:hover span.glyphicon,
td.datacell a.new-window:hover span.glyphicon {
    display: inherit;
    opacity: .8;
}

td.infocell.right a.new-window span.glyphicon {
    float: left;
}

div.inquiry table.datatable {
    margin: 20px 0;
}

div.inquiry table.datatable th,
div.inquiry table.datatable td {
    line-height: 32px;
    font-size: 14px;
    color: #777777;
}

div.inquiry table.datatable tr:nth-child(even) {
    background-color: #F9F9F9;
}

div.inquiry table.datatable th {
    text-align: right;
    padding-right: 15px;
    font-weight: 700;
}

.contentwrapper.inquirymodal {
    display: block;
    border-radius: 6px;
}

.inquirymodal .content #view_div {
    padding-top: 0;
    border-radius: 6px;
}

.remodal .content {
    border-radius: 6px;
}

.inquirymodal .content div.inquiry {
    margin-bottom: 0;
}

.inquirymodal #kualiForm {
    margin-left: 48px;
}

.body.fullwidth {
    margin-top: 0;
}

.doc #page-content {
    padding-top: 20px;
}

#view_div .headerarea-small img[alt=changed] {
    margin: 20px 0 0 10px;
}

#view_div > form > .headerbox {
    float: right;
    color: #555;
}

#view_div > form > .headerbox th {
    text-align: right;
    padding: 0 5px 0 30px;
}

#view_div > form > .msg-excol {
    margin-top: 15px;
    clear: both;
}

#view_div > form > .msg-excol > .right {
    color: #999999;
}

#view_div > form > .msg-excol > .right > .excol {
    margin-right: 0;
}

#view_div > form > .headerarea-small {
    float: left;
    margin-top: 15px;
}

.main-panel .tabtable1-mid1 {
    padding: 10px 20px;
}

.main-panel .tab-container {
    color: #555;
}

.main-panel .tab-container h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #767676;
    margin-top: 0;
}

.main-panel .tab-container h3 {
    font-size: 15px;
    text-transform: uppercase;
    text-align: left;
    color: #707070;
    border-bottom: 1px solid #c3c3c3;
    padding: 0 30px 10px 30px;
    margin: 20px 20px 15px 20px;
}

.main-panel .tab-container td h3 {
    margin: 0;
}

.main-panel .tab-container td.border-bottom {
    border-bottom: 1px solid #c3c3c3;
}

.main-panel .tab-container td.border-bottom h3 {
    border-bottom: none;
    padding-bottom: 0;
    margin-top: 20px;
}

.main-panel .tab-container table {
    width: 100%;
    margin-bottom: 30px;
}

.main-panel .tab-container table table {
    margin-bottom: 0;
}

.main-panel .tab-container table.side-margins {
    width: calc(100% - 40px);
    margin: 0 20px 30px 20px;
}

.main-panel .tab-container th {
    color: #707070;
    font-weight: 400;
}

.main-panel .tab-container th.right {
    padding: 0 10px 0 15px;
}

.main-panel .tab-container td.top,
.main-panel .tab-container th.top {
    vertical-align: top;
    padding-top: 5px;
}

.main-panel .tab-container label {
    font-weight: 400;
    margin-bottom: 0;
}

.main-panel .tab-container table.items tr.new-note td {
    padding-bottom: 30px;
}

.main-panel table.questionTable {
    margin: 0 auto;
}

.main-panel table.questionTable td {
    padding-right: 15px;
    font-weight: 400;
}

.main-panel .tab-container table.standard {
    font-size: 14px;
}

.main-panel .tab-container table.standard.squeeze {
    font-size: 11px;
}

.main-panel .tab-container table.standard tr.header {
    background-color: inherit !important;
}

.main-panel .tab-container table.standard tr.header > th {
    text-transform: uppercase;
    font-size: 11px;
    padding-bottom: 2px;
    vertical-align: bottom;
}

.main-panel .tab-container table.standard.squeeze tr.header > th {
    font-size: 8px;
}

.main-panel .tab-container table.items tr.header th {
    padding-top: 15px;
}

.main-panel .tab-container table.items td:first-child,
.main-panel .tab-container table.items th:first-child {
    font-weight: 700;
    min-width: 20px;
    text-align: right;
}

.main-panel .tab-container table.standard th,
.main-panel .tab-container table.standard td {
    padding: 5px 10px;
}

.main-panel .tab-container table.standard tr.top {
    vertical-align: top;
}

.main-panel .tab-container table.standard tr.middle {
    vertical-align: middle;
}

.main-panel .tab-container table.standard td.note-text {
    width: 30%;
}

.main-panel .tab-container table.standard tr.highlight {
    background-color: #F9F9F9;
}

.main-panel .tab-container table.standard tr.highlight tr.highlight {
    background-color: rgba(0, 0, 0, .1);
}

.main-panel .tab-container table.standard td.total-line {
    border-top: 1px solid rgba(204, 204, 204, 0.3);
}

.main-panel .tab-container table.adhoc td:first-child,
.main-panel .tab-container table.adhoc th:first-child {
    padding-left: 20px;
}

.main-panel .tab-container table.adhoc th {
    width: 25%;
}

.main-panel .tab-container table.adhoc.person th:first-child {
    width: 50%;
}

.main-panel .tab-container-error {
    color: #C47965;
    padding: 10px 40px;
}

.main-panel .tab-container table.old-new tr:nth-child(even) {
    background-color: #F9F9F9;
}

.main-panel .tab-container table.old-new th.old {
    color: #b75a38;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-panel .tab-container table.old-new th.new {
    color: #568424;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-panel .tab-container table.old-new td:nth-child(2) {
    border-left: 1px solid rgba(196, 121, 101, 0.2);
}

.main-panel .tab-container table.old-new td:last-child {
    border-left: 1px solid rgba(109, 164, 135, 0.2);
}

.main-panel .tab-container table.old-new tr:not(:first-child):hover {
    background-color: #E9E9E9;
}

.main-panel .tab-container table.acct-lines {
    table-layout: fixed;
    min-width: 1000px;
    width: calc(100% - 30px);
    margin: 0 15px 15px 15px;
}

.main-panel .tab-container table.acct-lines span.amount {
    display: block;
}

.main-panel .tab-container table.acct-lines span.amount,
.main-panel .tab-container table.acct-lines input.amount,
.main-panel .tab-container table.acct-lines td.amount {
    text-align: right;
    max-width: 100%;
}

.main-panel .tab-container table.acct-lines td.amount {
    padding-right: 5px;
}

.main-panel .tab-container table.acct-lines th {
    padding: 10px 5px;
}

.main-panel .tab-container table.acct-lines td {
    padding: 10px 5px;
}

.main-panel .tab-container table.acct-lines tr.header {
    border-bottom: 1px solid #BBBBBB;
}

.main-panel .tab-container table.acct-lines tr:not(:first-child) td.tab-subhead,
.main-panel .tab-container table.acct-lines tr:not(:first-child) td.tab-subhead-import {
    padding-top: 20px;
}

.main-panel .tab-container table.acct-lines tr.title .actions {
    padding-bottom: 5px;
    padding-right: 5px;
    display: inline;
}

.main-panel .tab-container table.acct-lines tr.line .actions,
.main-panel .tab-container table.acct-lines tr.new .actions {
    border-left: 1px solid #BBBBBB;
    padding: 6px 10px;
    white-space: nowrap;
}

.main-panel .tab-container table.acct-lines tr.line td.multi-row,
.main-panel .tab-container table.acct-lines tr.new td.multi-row {
    vertical-align: middle;
    border-left: 1px solid #BBBBBB;
}

.main-panel .tab-container table.acct-lines tr.line td.multi-row .actions,
.main-panel .tab-container table.acct-lines tr.new td.multi-row .actions {
    border-left: none;
    white-space: nowrap;
}

.main-panel .tab-container table.acct-lines tr.line .actions .acct-lines-toggle {
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    display: inline;
}

.main-panel .tab-container table.acct-lines tr th:first-child {
    width: 24px;
}

.main-panel .tab-container table.acct-lines.large-seq tr th:first-child {
    width: 45px;
}

.main-panel .tab-container table.acct-lines tr.line th:first-child {
    width: 24px;
    background-color: #3D7599;
    border-top: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
}

.main-panel .tab-container table.acct-lines tr.line td:nth-child(2) {
    padding-left: 5px;
}

.main-panel .tab-container table.acct-lines tr.line {
    border-top: 1px solid #BBBBBB;
}

.main-panel .tab-container table.acct-lines tr.total-line {
    border-top: 1px solid #BBBBBB;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
}

.main-panel .tab-container table.acct-lines tr.total-line .total-label {
    color: #999999;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.main-panel .tab-container table.acct-lines tr.header.multiline,
.main-panel .tab-container table.acct-lines tr.line.multiline {
    border: none;
}

.main-panel .tab-container table.acct-lines tr.multiline.first {
    border-top: 1px solid #BBBBBB;
}

.main-panel .tab-container table.acct-lines tr.multiline.header.first th:last-child {
    border-left: 1px solid #BBBBBB;
}

.main-panel .tab-container table.acct-lines tr.multiline.last {
    border-bottom: 1px solid #BBBBBB;
}

.main-panel .tab-container table.acct-lines tr.new.multiline.last {
    border-bottom: none;
}

.main-panel .tab-container table.acct-lines tr.header.multiline th,
.main-panel .tab-container table.acct-lines tr.line.multiline th {
    padding-bottom: 0;
}

.main-panel .tab-container table.acct-lines tr.multiline td.total-line {
    border-top: none;
}

.main-panel .tab-container table.acct-lines tr.multiline td.total-line table {
    margin-top: -10px;
    color: #767676;
}

.main-panel .tab-container table.acct-lines tr.multiline td.total-line table tr.line {
    border: none;
}

.main-panel .tab-container table.acct-lines tr.multiline td.total-line table table th:first-child {
    width: initial;
    background-color: inherit;
    border-top: none;
    color: inherit;
    font-size: inherit;
    vertical-align: middle;
    text-align: left;
}

.main-panel .tab-container table.acct-lines tr.multiline td.total-line table .tab-subhead button {
    margin-left: 5px;
    color: #6c6c6c;
}

.main-panel .tab-container table.acct-lines.large-seq .btn.move {
    right: 11px !important;
}

.main-panel .tab-container table.acct-lines textarea {
    max-width: 100%;
}

.main-panel .tab-container table.acct-lines table.acct-lines {
    margin: 0 0 0 50px !important;
    width: calc(100% - 45px) !important;
}

.main-panel .tab-container table.acct-lines table.acct-lines tr.title {
    display: none;
}

.main-panel .tab-container table.acct-lines table.acct-lines tr.title.distribution {
    display: table-row;
}

.main-panel .tab-container table.acct-lines table.acct-lines tr.title.distribution td.tab-subhead {
    visibility: hidden;
    padding-top: 0;
}

.main-panel .tab-container table.acct-lines table.acct-lines tr.title.distribution td.tab-subhead-import {
    padding-top: 0;
}

.main-panel .tab-container table.acct-lines table.acct-lines tr th:first-child {
    width: inherit;
}

.main-panel .tab-container table.standard .container-tab-subhead,
.main-panel .tab-container table.standard .container-tab-subhead:hover {
    background-color: #FFFFFF;
}

.main-panel .tab-container table.standard .container-tab-subhead .tab-subhead {
    border-left: none;
}

#uploadDiv {
    float: right;
    text-align: left;
}

#uploadDiv input,
.uploadDiv input {
    padding-bottom: 7px;
    display: inline;
}

#row table.balanceInquiry th,
#row table.balanceInquiry td,
#row table.balanceInquiry td a {
    font-size: 14px;
}

#row table.balanceInquiry th.infocell:first-child {
    border-left: 1px solid #E1E1E1;
}

#row table.balanceInquiry td.numbercell:last-child {
    border-right: 1px solid #E1E1E1;
}

#row table.balanceInquiry th.infocell {
    padding-left: 8px;
}

#row table.balanceInquiry td.numbercell {
    border-left: none;
    padding-right: 8px;
}

#row table.balanceInquiry th.infocell:nth-of-type(2n),
#row table.balanceInquiry td.numbercell:nth-of-type(2n) {
    background-color: #F5F5F5;
}

#row table.balanceInquiry tr:last-child td,
#row table.balanceInquiry tr:last-child td.numbercell,
#row table.balanceInquiry tr:last-child th.infocell {
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

/*
 * CU Customization: Add styles to improve the usability of refactored lookups.
 */

/* Remove margins from header bar and search criteria section. */

.ByJBGoGkBAU83Z90FxSv {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* Adjust width and padding of the header bar. */

.ByJBGoGkBAU83Z90FxSv.FjWWXsN_KOMyIqxqrlay.GOuxAEoVYObnz44wR56B {
    max-width: 100% !important;
    padding-right: calc(40px + 1%) !important;
}

/* Make the search action footer a true "sticky" footer; overrides the setting/unsetting of "fixed" mode via JS. */

.gaQAF9I1fN5CVQqgPD1w.cTSfZQ9ii_eahO4yrUGF {
    overflow-x: visible !important;
    overflow-y: visible !important;
}

.DiflfE0Aa1RyATogbP8V > div {
    bottom: 0px !important;
    position: sticky !important;
}

.DiflfE0Aa1RyATogbP8V > div > div.sticky {
    position: static !important;
}

/* Make the search results section fill the page instead of limiting it to a box; also adjust spacing and borders. */

.MuiBox-root.css-rn556 {
    height: auto !important;
    max-width: none !important;
    padding-right: calc(40px + 1%) !important;
}

.MuiBox-root.css-rn556 > .MuiDataGrid-root {
    border-right-style: none !important;
}

.MuiBox-root.css-rn556 .MuiDataGrid-main.css-jdaxyo {
    overflow-x: visible !important;
    overflow-y: visible !important;
}

.MuiBox-root.css-rn556 .MuiDataGrid-virtualScroller.css-vcglal {
    overflow-x: visible !important;
    overflow-y: visible !important;
    width: max-content !important;
}

.MuiBox-root.css-rn556 .MuiDataGrid-footerContainer.MuiDataGrid-withBorderColor.css-9ffb5l {
    border-right-color: rgb(224, 224, 224) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
}

.MuiBox-root.css-rn556 .MuiDataGrid-columnHeaders.css-qjqt6o {
    border-right-color: rgb(224, 224, 224) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    margin-right: 40px !important;
}

.MuiBox-root.css-rn556 .MuiDataGrid-virtualScrollerContent.css-0 {
    border-right-color: rgb(224, 224, 224) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    margin-right: 40px !important;
}

/* Change the "sticky" vertical positioning of the lookup results header to prevent the page header from hiding it. */

.MuiBox-root.css-rn556 .MuiDataGrid-topContainer.css-1oudwrl {
    top: 68px !important;
}

/* Effectively hide any widget-specific scrollbars. */

.MuiBox-root.css-rn556 .MuiDataGrid-scrollbar--horizontal.css-1rtad1 {
    overflow-x: hidden !important;
}

.MuiBox-root.css-rn556 .MuiDataGrid-scrollbar--vertical.css-1b9e9gy {
    overflow-y: hidden !important;
}

/*
 * End CU Customization
 */