<!--

    The Kuali Financial System, a comprehensive financial management system for higher education.

    Copyright 2005-2021 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<!--
    CU Customization: Backport FINP-7916 (aka FINP-7983?) changes into the 2021-01-28 version of this file.
    This overlay should be removed when we upgrade to the 2021-11-17 financials patch or later.
-->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean id="kimModuleConfiguration" parent="kimModuleConfiguration-parentBean"/>
    <bean id="kimModuleConfiguration-parentBean" class="org.kuali.kfs.sys.FinancialSystemModuleConfiguration" abstract="true"
          p:namespaceCode="KFS-IDM"
          p:initializeDataDictionary="true"
          p:dataDictionaryService-ref="dataDictionaryService"
          p:persistenceService-ref="persistenceServiceOjb">
        <property name="dataDictionaryPackages">
            <list>
                <value>classpath:org/kuali/kfs/kim/bo/datadictionary/*.xml</value>
                <value>classpath:org/kuali/kfs/kim/document/datadictionary/*.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/common/attribute/*.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/common/delegate/*.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/identity/affiliation/EntityAffiliation.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/identity/address/EntityAddress.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/identity/email/EntityEmail.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/identity/employment/EntityEmployment.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/identity/name/EntityName.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/identity/phone/EntityPhone.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/identity/PersonImpl.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/group/*.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/permission/*.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/responsibility/*.xml</value>
                <!--
                     When these impl/role paths were wildcarded, the integ tests failed on spring startup. It looked like
                     there was some confusion around loading these DD xml files vs. loading classes in the same path
                     (This happened after a new integ test was added in org.kuali.kfs.kim.impl.role). I didn't dig into
                     the issue enough to find the root cause, but making these explicit fixed the issue.
                -->
                <value>classpath:org/kuali/kfs/kim/impl/role/Role.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/role/RoleMember.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/role/RoleMemberAttributeData.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/role/RolePermission.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/role/RoleResponsibility.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/role/RoleResponsibilityAction.xml</value>
                <value>classpath:org/kuali/kfs/kim/impl/type/KimType.xml</value>
            </list>
        </property>
        <property name="packagePrefixes">
            <list>
                <value>org.kuali.kfs.kim</value>
            </list>
        </property>
        <property name="databaseRepositoryFilePaths">
            <list>
                <value>org/kuali/kfs/kim/ojb-kim.xml</value>
            </list>
        </property>
        <property name="externalizableBusinessObjectImplementations">
            <map>
                <entry key="org.kuali.kfs.kim.api.identity.Person"
                       value="org.kuali.kfs.kim.impl.identity.PersonImpl"/>
            </map>
        </property>
    </bean>

    <bean id="kimModule" parent="kimModule-parentBean"/>
    <bean id="kimModule-parentBean" class="org.kuali.kfs.kim.service.impl.KimModuleService" abstract="true"
          p:moduleConfiguration-ref="kimModuleConfiguration"
          p:kualiModuleService-ref="kualiModuleService"/>

    <bean id="kimDataIntegrityService" class="org.kuali.kfs.kim.impl.data.DataIntegrityServiceImpl"
          p:dataSource-ref="dataSource"/>

    <!--
          Identity Service
    -->

    <bean id="identityService" class="org.kuali.kfs.kim.impl.identity.IdentityServiceImpl"
          p:businessObjectService-ref="businessObjectService"
          p:criteriaLookupService-ref="criteriaLookupService"/>

    <!--
          Role Service
    -->

    <bean id="roleService" class="org.kuali.kfs.kim.impl.role.RoleServiceImpl"
          p:roleDao-ref="kimRoleDao"
          p:criteriaLookupService-ref="criteriaLookupService"
          p:cacheManager-ref="kfs.core.LocalCacheManager"/>

    <bean id="kimRoleInternalService" class="org.kuali.kfs.kim.impl.role.RoleInternalServiceImpl"
          p:roleDao-ref="kimRoleDao"/>

    <!--
          Group Services
    -->

    <bean id="kimGroupService" class="org.kuali.kfs.kim.impl.group.GroupServiceImpl"
          p:businessObjectService-ref="businessObjectService"
          p:criteriaLookupService-ref="criteriaLookupService"/>

    <!--
          Permission Service
    -->

    <bean id="permissionService" class="org.kuali.kfs.kim.impl.permission.PermissionServiceImpl"
          p:businessObjectService-ref="businessObjectService"
          p:criteriaLookupService-ref="criteriaLookupService"
          p:kimTypeInfoService-ref="kimTypeInfoService"
          p:roleService-ref="roleService"
          p:cacheManager-ref="kfs.core.LocalCacheManager"
          p:defaultPermissionTypeService-ref="kimPermissionTypeService"/>

    <!--
          Responsibility Service
    -->

    <bean id="kimResponsibilityService" class="org.kuali.kfs.kim.impl.responsibility.ResponsibilityServiceImpl"
          p:businessObjectService-ref="businessObjectService"
          p:criteriaLookupService-ref="criteriaLookupService"
          p:defaultResponsibilityTypeService-ref="defaultResponsibilityTypeService"
          p:kimTypeInfoService-ref="kimTypeInfoService"
          p:roleService-ref="roleService"/>

    <bean id="kimTypeInfoService" class="org.kuali.kfs.kim.impl.type.KimTypeInfoServiceImpl">
        <property name="businessObjectService" ref="businessObjectService"/>
    </bean>

    <bean id="activePrincipalRoleTypeService"
          class="org.kuali.kfs.kns.kim.role.PrincipalDerivedRoleTypeServiceImpl"
          parent="kimNoMembersRoleTypeService"
          c:identityService-ref="identityService"
    />

    <bean id="groupInternalService" class="org.kuali.kfs.kim.impl.group.GroupInternalServiceImpl"/>

    <bean id="responsibilityInternalService"
          class="org.kuali.kfs.kim.impl.responsibility.ResponsibilityInternalServiceImpl"
          p:businessObjectService-ref="businessObjectService"
          p:responsibilityChangeQueue-ref="responsibilityChangeQueue"
          p:responsibilityService-ref="kimResponsibilityService"/>

    <bean id="documentInitiatorRoleTypeService"
          class="org.kuali.kfs.krad.kim.PermissionDerivedRoleTypeServiceImpl" parent="kimNoMembersRoleTypeService"
          p:permissionTemplateNamespace="KFS-SYS"
          p:permissionTemplateName="Initiate Document"/>

    <bean id="documentEditorRoleTypeService"
          class="org.kuali.kfs.krad.kim.PermissionDerivedRoleTypeServiceImpl" parent="kimNoMembersRoleTypeService"
          p:permissionTemplateNamespace="KFS-SYS"
          p:permissionTemplateName="Edit Document"/>

    <bean id="documentOpenerRoleTypeService"
          class="org.kuali.kfs.krad.kim.PermissionDerivedRoleTypeServiceImpl" parent="kimNoMembersRoleTypeService"
          p:permissionTemplateNamespace="KFS-SYS"
          p:permissionTemplateName="Open Document"/>

    <bean id="documentRouterRoleTypeService"
          class="org.kuali.kfs.krad.kim.PermissionDerivedRoleTypeServiceImpl" parent="kimNoMembersRoleTypeService"
          p:permissionTemplateNamespace="KFS-WKFLW"
          p:permissionTemplateName="Route Document"/>

    <bean id="documentTypeAndNodeOrStatePermissionTypeService"
          class="org.kuali.kfs.krad.kim.DocumentTypeAndNodeOrStatePermissionTypeServiceImpl"
          parent="documentTypePermissionTypeService"/>

    <bean id="defaultResponsibilityTypeService"
          class="org.kuali.kfs.kns.kim.responsibility.KimResponsibilityTypeServiceBase" parent="kimTypeService"/>

    <bean id="permissionPermissionTypeService"
          class="org.kuali.kfs.krad.kim.NamespaceWildcardAllowedAndOrStringExactMatchPermissionTypeServiceImpl"
          parent="namespacePermissionTypeService"
          p:exactMatchStringAttributeName="permissionName"
          p:namespaceRequiredOnStoredMap="true"/>

    <bean id="responsibilityPermissionTypeService"
          class="org.kuali.kfs.krad.kim.NamespaceWildcardAllowedAndOrStringExactMatchPermissionTypeServiceImpl"
          parent="namespacePermissionTypeService"
          p:exactMatchStringAttributeName="responsibilityName"
          p:namespaceRequiredOnStoredMap="true"/>

    <bean id="rolePermissionTypeService"
          class="org.kuali.kfs.krad.kim.NamespaceWildcardAllowedAndOrStringExactMatchPermissionTypeServiceImpl"
          parent="namespacePermissionTypeService"
          p:exactMatchStringAttributeName="roleName"
          p:namespaceRequiredOnStoredMap="true"/>

    <bean id="groupPermissionTypeService"
          class="org.kuali.kfs.krad.kim.PopulateGroupPermissionTypeServiceImpl"
          parent="namespacePermissionTypeService"
          p:exactMatchStringAttributeName="groupName"
          p:namespaceRequiredOnStoredMap="true"/>

    <bean id="kimTypeService" class="org.kuali.kfs.kns.kim.type.DataDictionaryTypeServiceBase"
        p:businessObjectService-ref="businessObjectService"
        p:dataDictionaryService-ref="dataDictionaryService"
        p:dictionaryValidationService-ref="dictionaryValidationService"
        p:documentTypeService-ref="documentTypeService"
        p:typeInfoService-ref="kimTypeInfoService"/>

    <bean id="kimPermissionTypeService" class="org.kuali.kfs.kns.kim.permission.PermissionTypeServiceBase"
          parent="kimTypeService"/>
    <bean id="kimRoleTypeService" class="org.kuali.kfs.kns.kim.role.RoleTypeServiceBase" parent="kimTypeService"/>
    <bean id="kimGroupTypeService" class="org.kuali.kfs.kns.kim.group.GroupTypeServiceBase" parent="kimTypeService"/>

    <bean id="kimNoMembersRoleTypeService" class="org.kuali.kfs.kns.kim.role.DerivedRoleTypeServiceBase"
          parent="kimRoleTypeService"/>

    <bean id="documentTypePermissionTypeService"
          class="org.kuali.kfs.krad.kim.DocumentTypePermissionTypeServiceImpl" parent="kimPermissionTypeService"/>

    <bean id="documentTypeAndAttachmentTypePermissionTypeService"
          class="org.kuali.kfs.krad.kim.DocumentTypeAndAttachmentTypePermissionTypeService"
          parent="documentTypePermissionTypeService"/>

    <bean id="documentTypeAndRelationshipToNoteAuthorPermissionTypeService"
          class="org.kuali.kfs.krad.kim.DocumentTypeAndRelationshipToNoteAuthorPermissionTypeService"
          parent="documentTypePermissionTypeService"/>

    <bean id="namespacePermissionTypeService" class="org.kuali.kfs.krad.kim.NamespacePermissionTypeServiceImpl"
          parent="kimPermissionTypeService"/>

    <bean id="documentTypeAndNodeAndRouteStatusPermissionTypeService"
          class="org.kuali.kfs.krad.kim.DocumentTypeAndNodeAndRouteStatusPermissionTypeServiceImpl"
          parent="documentTypePermissionTypeService"/>

    <bean id="namespaceOrComponentPermissionTypeService"
          class="org.kuali.kfs.krad.kim.NamespaceWildcardAllowedAndOrStringExactMatchPermissionTypeServiceImpl"
          parent="namespacePermissionTypeService"
          p:exactMatchStringAttributeName="componentName" p:namespaceRequiredOnStoredMap="false"/>

    <bean id="parameterPermissionTypeService" class="org.kuali.kfs.krad.kim.ParameterPermissionTypeServiceImpl"
          parent="namespacePermissionTypeService"
          p:exactMatchStringAttributeName="componentName" p:namespaceRequiredOnStoredMap="false"/>

    <bean id="batchFeedOrJobPermissionTypeService"
          class="org.kuali.kfs.krad.kim.NamespaceWildcardAllowedAndOrStringExactMatchPermissionTypeServiceImpl"
          parent="namespacePermissionTypeService"
          p:exactMatchStringAttributeName="beanName" p:namespaceRequiredOnStoredMap="false"/>

    <bean id="actionRequestTypePermissionTypeService"
          class="org.kuali.kfs.krad.kim.ActionRequestTypePermissionTypeServiceImpl" parent="kimPermissionTypeService"/>

    <bean id="namespaceOrActionPermissionTypeService"
          class="org.kuali.kfs.krad.kim.NamespaceWildcardAllowedAndOrStringExactMatchPermissionTypeServiceImpl"
          parent="namespacePermissionTypeService"
          p:exactMatchStringAttributeName="actionClass" p:namespaceRequiredOnStoredMap="false"/>

    <bean id="documentTypeAndEditModePermissionTypeService"
          class="org.kuali.kfs.krad.kim.DocumentTypeAndEditModePermissionTypeServiceImpl"
          parent="documentTypePermissionTypeService"/>

    <bean id="documentTypeAndNodeAndFieldsPermissionTypeService"
          class="org.kuali.kfs.krad.kim.DocumentTypeAndNodeAndFieldsPermissionTypeServiceImpl"
          parent="documentTypePermissionTypeService"/>

    <bean id="documentTypeAndExistingRecordsOnlyPermissionTypeService"
          class="org.kuali.kfs.krad.kim.DocumentTypeAndExistingRecordsOnlyPermissionTypeServiceImpl"
          parent="kimPermissionTypeService"/>

    <bean id="viewPermissionTypeService" class="org.kuali.kfs.krad.kim.ViewPermissionTypeServiceImpl"
          parent="kimPermissionTypeService"/>

    <bean id="viewEditModePermissionTypeService"
          class="org.kuali.kfs.krad.kim.ViewEditModePermissionTypeServiceImpl" parent="kimPermissionTypeService"/>

    <bean id="viewFieldPermissionTypeService" class="org.kuali.kfs.krad.kim.ViewFieldPermissionTypeServiceImpl"
          parent="kimPermissionTypeService"/>

    <bean id="viewGroupPermissionTypeService" class="org.kuali.kfs.krad.kim.ViewGroupPermissionTypeServiceImpl"
          parent="kimPermissionTypeService"/>

    <bean id="viewWidgetPermissionTypeService" class="org.kuali.kfs.krad.kim.ViewWidgetPermissionTypeServiceImpl"
          parent="kimPermissionTypeService"/>

    <bean id="viewActionPermissionTypeService" class="org.kuali.kfs.krad.kim.ViewActionPermissionTypeServiceImpl"
          parent="kimPermissionTypeService"/>

    <bean id="viewLineFieldPermissionTypeService"
          class="org.kuali.kfs.krad.kim.ViewLineFieldPermissionTypeServiceImpl" parent="kimPermissionTypeService"/>

    <bean id="viewLineActionPermissionTypeService"
          class="org.kuali.kfs.krad.kim.ViewLineActionPermissionTypeServiceImpl" parent="kimPermissionTypeService"/>

    <bean id="routeLogDerivedRoleTypeService"
          class="org.kuali.kfs.kew.role.service.impl.RouteLogDerivedRoleTypeServiceImpl"
          parent="kimNoMembersRoleTypeService"/>

    <bean id="actionRequestDerivedRoleTypeService"
          class="org.kuali.kfs.kew.role.service.impl.ActionRequestDerivedRoleTypeServiceImpl"
          parent="kimNoMembersRoleTypeService"/>

    <bean id="adhocReviewPermissionTypeService"
          class="org.kuali.kfs.kew.service.impl.AdhocReviewPermissionTypeServiceImpl"
          parent="documentTypePermissionTypeService"/>

    <bean id="backdoorRestrictionPermissionTypeService"
          class="org.kuali.kfs.kew.service.impl.BackdoorRestrictionPermissionTypeServiceImpl"
          parent="kimPermissionTypeService"/>

    <bean id="documentTypeResponsibilityTypeService"
          class="org.kuali.kfs.kew.service.impl.DocumentTypeResponsibilityTypeServiceImpl"
          parent="defaultResponsibilityTypeService"/>

    <bean id="reviewResponsibilityTypeService"
          class="org.kuali.kfs.kew.service.impl.ReviewResponsibilityTypeServiceImpl"
          parent="documentTypeResponsibilityTypeService"/>

    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="interceptorNames">
            <list>
                <idref bean="matchAllTxInterceptor"/>
            </list>
        </property>
        <property name="beanNames">
            <list>
                <idref bean="identityService"/>
                <idref bean="roleService"/>
                <idref bean="kimRoleInternalService"/>
                <idref bean="kimGroupService"/>
                <idref bean="permissionService"/>
                <idref bean="kimResponsibilityService"/>
            </list>
        </property>
    </bean>

    <bean id="properties" class="org.kuali.kfs.sys.context.PropertyLoadingFactoryBean"/>

    <bean id="kim.propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:properties-ref="properties"/>

    <bean id="personService" class="org.kuali.kfs.kim.impl.identity.PersonServiceImpl">
        <property name="personEntityTypeCodes">
            <list>
                <value>PERSON</value>
                <value>SYSTEM</value>
            </list>
        </property>
    </bean>

    <bean id="kimAuthenticationService" class="org.kuali.kfs.kim.impl.identity.AuthenticationServiceImpl"/>

    <bean id="kimRoleDao" class="org.kuali.kfs.kim.impl.role.RoleDaoOjb" parent="platformAwareDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="kimUiDocumentService"
          parent="kimUiDocumentService-parentBean"
    />
    <bean id="kimUiDocumentService-parentBean"
          abstract="true"
          class="org.kuali.kfs.kim.service.impl.UiDocumentServiceImpl"
          p:businessObjectService-ref="businessObjectService"
          p:dateTimeService-ref="dateTimeService"
          p:documentHelperService-ref="documentHelperService"
          p:groupInternalService-ref="groupInternalService"
          p:groupService-ref="kimGroupService"
          p:identityService-ref="identityService"
          p:kimTypeInfoService-ref="kimTypeInfoService"
          p:permissionService-ref="permissionService"
          p:parameterService-ref="parameterService"
          p:responsibilityInternalService-ref="responsibilityInternalService"
          p:roleInternalService-ref="kimRoleInternalService"
          p:roleService-ref="roleService"
    />

    <bean id="groupLookupable" class="org.kuali.kfs.kim.lookup.GroupLookupableImpl" parent="kualiLookupable"
          scope="prototype" p:configurationService-ref="configurationService">
        <property name="lookupableHelperService">
            <bean class="org.kuali.kfs.kim.lookup.GroupLookupableHelperServiceImpl"
                  parent="lookupableHelperService"/>
        </property>
    </bean>

    <bean id="roleLookupable" class="org.kuali.kfs.kim.lookup.RoleLookupableImpl" parent="kualiLookupable" scope="prototype">
        <property name="lookupableHelperService">
            <bean class="org.kuali.kfs.kim.lookup.RoleLookupableHelperServiceImpl"
                  parent="lookupableHelperService">
            </bean>
        </property>
    </bean>

    <bean id="roleMemberImplLookupable" class="org.kuali.kfs.kns.lookup.KualiLookupableImpl" parent="kualiLookupable" scope="prototype">
        <property name="lookupableHelperService">
            <bean class="org.kuali.kfs.kim.lookup.RoleMemberImplLookupableHelperServiceImpl"
                  parent="lookupableHelperService">
            </bean>
        </property>
    </bean>

    <bean id="kimPersonLookupable" class="org.kuali.kfs.kim.lookup.PersonLookupableImpl" parent="kualiLookupable"
          scope="prototype" p:configurationService-ref="configurationService">
        <property name="lookupableHelperService">
            <bean class="org.kuali.kfs.kim.lookup.PersonLookupableHelperServiceImpl"
                  parent="lookupableHelperService" p:personService-ref="personService"/>
        </property>
    </bean>

    <bean id="permissionLookupable" class="org.kuali.kfs.kim.lookup.PermissionLookupableImpl" parent="kualiLookupable" scope="prototype">
        <property name="lookupableHelperService">
            <bean class="org.kuali.kfs.kim.lookup.PermissionLookupableHelperServiceImpl" parent="lookupableHelperService">
            </bean>
        </property>
    </bean>

    <bean id="responsibilityLookupable" class="org.kuali.kfs.kim.impl.responsibility.ResponsibilityLookupableImpl" parent="kualiLookupable" scope="prototype">
        <property name="lookupableHelperService">
            <bean class="org.kuali.kfs.kim.impl.responsibility.ResponsibilityLookupableHelperServiceImpl" parent="lookupableHelperService"/>
        </property>
    </bean>

    <bean id="kimTypeLookupableHelperServiceImpl" class="org.kuali.kfs.kns.lookup.KualiLookupableImpl" parent="kualiLookupable" scope="prototype">
        <property name="lookupableHelperService">
            <bean class="org.kuali.kfs.kim.impl.type.KimTypeLookupableHelperServiceImpl" parent="lookupableHelperService">
            </bean>
        </property>
    </bean>

    <bean id="kimDocumentRoleMemberLookupable" class="org.kuali.kfs.kns.lookup.KualiLookupableImpl" parent="kualiLookupable" scope="prototype">
        <property name="lookupableHelperService">
            <bean class="org.kuali.kfs.kim.lookup.KimDocumentRoleMemberLookupableHelperServiceImpl" parent="lookupableHelperService">
            </bean>
        </property>
    </bean>
</beans>


