<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2005-2007 The Kuali Foundation.
 
 Licensed under the Educational Community License, Version 1.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl1.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">
       
    <bean id="fpModuleConfiguration" parent="rsmartFpModuleConfiguration-parentBean" />                       
   	<bean id="rsmartFpModuleConfiguration-parentBean" abstract="true" parent="fpModuleConfiguration-parentBean" >
        <property name="packagePrefixes">
            <list merge="true">
                <value>com.rsmart.kuali.kfs.fp</value>
            </list>
        </property> 
		<property name="dataDictionaryPackages">
			<list merge="true">
                <value>classpath:com/rsmart/kuali/kfs/fp/businessobject/datadictionary/*.xml</value>
                <value>classpath:com/rsmart/kuali/kfs/fp/document/datadictionary/*.xml</value>
			</list>
		</property>   
		<property name="databaseRepositoryFilePaths">
			<list merge="true">
			    <value>com/rsmart/kuali/kfs/fp/ojb-fp.xml</value>
			</list>
		</property>	
		<property name="jobNames">
			<list merge="true">
				<value>loadDisbursementVouchersJob</value>
			</list>
		</property>			     
    </bean>
	
    <bean id="loadDisbursementVouchersJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="loadDisbursementVouchersStep" />
			</list>
		</property>
	</bean>
	
    <bean id="loadDisbursementVouchersStep" class="com.rsmart.kuali.kfs.fp.batch.LoadDisbursementVouchersStep" parent="step">
		<property name="disbursementVoucherDocumentBatchService" ref="disbursementVoucherDocumentBatchService"/>
	</bean> 
    
	<bean id="disbursementVoucherInputFileType" class="com.rsmart.kuali.kfs.fp.batch.DisbursementVoucherInputFileType">
    	<property name="directoryPath">
	       <value>${staging.directory}/fp/disbursementVoucher</value>
	    </property>
	    <property name="fileExtension">
	       <value>xml</value>
	    </property>
	    <property name="digestorRulesFileName">
	       <value>com/rsmart/kuali/kfs/fp/batch/disbursementVoucherDigesterRules.xml</value>
	    </property>
	    <property name="schemaLocation">
	       <value>classpath:com/rsmart/kuali/kfs/fp/batch/disbursementVoucher.xsd</value>
	    </property>
	    <property name="disbursementVoucherDocumentBatchService">
	       <ref bean="disbursementVoucherDocumentBatchService"/>
	    </property>
	    <property name="dateTimeService">
	       <ref bean="dateTimeService"/>
	    </property>
	</bean>        
	
    <bean id="disbursementVoucherDocumentBatchService" class="com.rsmart.kuali.kfs.fp.batch.service.impl.DisbursementVoucherDocumentBatchServiceImpl">
		<property name="batchInputFileService" ref="batchInputFileService"/>
		<property name="disbursementVoucherInputFileType" ref="disbursementVoucherInputFileType" />
		<property name="businessObjectService" ref="businessObjectService"/>
		<property name="documentService" ref="documentService"/>
		<property name="dataDictionaryService" ref="dataDictionaryService"/>
		<property name="sequenceAccessorService" ref="sequenceAccessorService"/>
		<property name="dateTimeService" ref="dateTimeService"/>
		<property name="personService" ref="personService"/>
		<property name="kualiConfigurationService" ref="configurationService"/>
		<property name="universityDateService" ref="universityDateService"/>
		<property name="persistenceService" ref="persistenceService"/>
		<property name="disbursementVoucherBatchReportInfo" ref="disbursementVoucherBatchReportInfo"/>
		<property name="vendorService" ref="vendorService"/>
		<property name="batchFeedHelperService" ref="batchFeedHelperService"/>
		<property name="attachmentsPath">
	       <value>${staging.directory}/fp/disbursementVoucher</value>
	    </property>
	</bean>
	
	<bean id="disbursementVoucherBatchReportInfo" class="org.kuali.kfs.sys.report.ReportInfoHolder" >
		<property name="reportTitle" value="Disbursement Voucher Batch Feed Report" />
		<property name="reportFileName" value="disbursement_voucher_batch" />
		<property name="reportsDirectory" value="${reports.directory}/fp/" />
		<property name="resourceBundleBaseName" value="com/rsmart/kuali/kfs/fp/report/message" />
		<property name="reportTemplateClassPath" value="com/rsmart/kuali/kfs/fp/report/" />
		<property name="reportTemplateName" value="DisbursementVoucherBatchReport" />
		<property name="subReportTemplateClassPath" value="com/rsmart/kuali/kfs/fp/report/" />
		<property name="subReports">
			<map>
				<entry key="summaryLines" value="SummaryLines"/>
				<entry key="dvDocuments" value="DVDocuments"/>
				<entry key="accounting" value="DVAccounting"/>
			</map>
		</property>
	</bean>
	
	<bean id="mimeTypeFile" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg type="java.lang.String">
          <value>mimeType.properties</value>
        </constructor-arg>
    </bean>

    <bean id="mimeTypeProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
         <property name="location" ref="mimeTypeFile"/>
    </bean>
	
</beans>

