<?xml version="1.0" encoding="UTF-8"?>
<!--

    The Kuali Financial System, a comprehensive financial management system for higher education.

    Copyright 2005-2021 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>KFS</display-name>

    <context-param>
        <param-name>web.bootstrap.spring.file</param-name>
        <param-value>classpath:kfs-startup.xml</param-value>
    </context-param>

    <context-param>
        <param-name>javamelody.quartz-default-listener-disabled</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>javamelody.system-actions-enabled</param-name>
        <param-value>false</param-value>
    </context-param>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>org.kuali.kfs.sys.web.filter.DelegatingAuthenticationFilter</filter-class>
    </filter>

    <filter>
        <filter-name>AuthenticationTokenFilter</filter-name>
        <filter-class>org.kuali.kfs.sys.web.filter.AuthenticationTokenFilter</filter-class>
    </filter>

    <filter>
        <filter-name>HideWebInfFilter</filter-name>
        <filter-class>org.kuali.kfs.krad.web.filter.HideWebInfFilter</filter-class>
    </filter>

    <filter>
        <filter-name>ResponseOverrideFilter</filter-name>
        <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
    </filter>

    <filter>
        <filter-name>ParameterFilter</filter-name>
        <filter-class>org.kuali.kfs.kns.web.filter.ParameterFilter</filter-class>
        <init-param>
            <param-name>excludeParams</param-name>
            <param-value>(.*\.|^|\[('|"))(c|C)lass(\.|('|")]|\[).*</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>BootstrapFilter</filter-name>
        <filter-class>org.kuali.kfs.krad.web.filter.BootstrapFilter</filter-class>
    </filter>

    <filter>
        <filter-name>UserLoginFilter</filter-name>
        <filter-class>org.kuali.kfs.krad.web.filter.UserLoginFilter</filter-class>
    </filter>

    <filter>
        <filter-name>ResourceLoginFilter</filter-name>
        <filter-class>org.kuali.kfs.web.filter.ResourceLoginFilter</filter-class>
    </filter>

    <filter>
        <filter-name>UserPreferencesFilter</filter-name>
        <filter-class>org.kuali.kfs.krad.web.filter.UserPreferencesFilter</filter-class>
    </filter>

    <filter>
        <filter-name>SessionExpirationFilter</filter-name>
        <filter-class>org.kuali.kfs.sys.web.filter.SessionExpirationFilter</filter-class>
    </filter>
    
    <filter>
        <filter-name>ConcurAuthenticationFilter</filter-name>
        <filter-class>edu.cornell.kfs.concur.rest.authentication.ConcurAuthenticationFilter</filter-class>
    </filter>

    <filter>
        <filter-name>CuEinvoiceServerAuthFilter</filter-name>
        <filter-class>edu.cornell.kfs.module.purap.web.filter.CuEinvoiceServerAuthFilter</filter-class>
    </filter>

    <filter>
        <filter-name>CuCapAssetInventoryServerAuthFilter</filter-name>
        <filter-class>edu.cornell.kfs.module.cam.web.filter.CuCapAssetInventoryServerAuthFilter</filter-class>
    </filter>

    <!--  FILTER MAPPINGS  -->

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>action</servlet-name>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-name>batchFileUpload</servlet-name>
        <url-pattern>/monitoring/*</url-pattern>
        <url-pattern>/purap/*</url-pattern>
        <url-pattern>/app/*</url-pattern>
        <url-pattern>/webapp/*</url-pattern>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthenticationTokenFilter</filter-name>
        <servlet-name>action</servlet-name>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-name>batchFileUpload</servlet-name>
        <url-pattern>/monitoring/*</url-pattern>
        <url-pattern>/purap/*</url-pattern>
        <url-pattern>/app/*</url-pattern>
        <url-pattern>/webapp/*</url-pattern>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HideWebInfFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ResponseOverrideFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ParameterFilter</filter-name>
        <servlet-name>action</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>BootstrapFilter</filter-name>
        <servlet-name>action</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserLoginFilter</filter-name>
        <servlet-name>action</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/webapp/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ResourceLoginFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
        <url-pattern>/sys/*</url-pattern>
        <url-pattern>/ar/api/*</url-pattern>
        <url-pattern>/cam/api/*</url-pattern>
        <url-pattern>/cg/api/*</url-pattern>
        <url-pattern>/coa/api/*</url-pattern>
        <url-pattern>/ec/api/*</url-pattern>
        <url-pattern>/fp/api/*</url-pattern>
        <url-pattern>/gl/api/*</url-pattern>
        <url-pattern>/ld/api/*</url-pattern>
        <url-pattern>/pdp/api/*</url-pattern>
        <url-pattern>/purap/api/*</url-pattern>
        <url-pattern>/vnd/api/*</url-pattern>
        <url-pattern>/app/sys/*</url-pattern>
        <url-pattern>/tenant/api/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CuEinvoiceServerAuthFilter</filter-name>
        <url-pattern>/ws/einvoice/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CuCapAssetInventoryServerAuthFilter</filter-name>
        <url-pattern>/ws/capasset/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserPreferencesFilter</filter-name>
        <servlet-name>action</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SessionExpirationFilter</filter-name>
        <servlet-name>action</servlet-name>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>ConcurAuthenticationFilter</filter-name>
        <url-pattern>/ws/system/v1.0/testconnection</url-pattern>
        <url-pattern>/ws/concur/v1.0/validate</url-pattern>
    </filter-mapping>

    <!-- Listeners -->

    <!-- Use CU-specific KFSInitializeListener implementation. -->
    <listener>
        <listener-class>edu.cornell.kfs.sys.context.CuKFSInitializeListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.kuali.kfs.core.web.listener.BootstrapListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.kuali.kfs.krad.web.listener.KualiHttpSessionListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
    </listener>

    <!-- SERVLET DEFINITIONS -->

    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.kuali.kfs.kns.web.struts.action.KualiActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml,/WEB-INF/institutional-struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>3</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>org.kuali.kfs.sys.web.servlet.KfsDWRServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>config-kns</param-name>
            <param-value>WEB-INF/dwr-kns.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>webapp</servlet-name>
        <jsp-file>/webapp.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>webapp</servlet-name>
        <url-pattern>/webapp/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>batchFileUpload</servlet-name>
        <servlet-class>org.kuali.kfs.sys.web.servlet.BatchFileUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>batchFileUpload</servlet-name>
        <url-pattern>/batchFileUpload</url-pattern>
    </servlet-mapping>

    <!-- ******************* END Embedded KEW Servlet Mappings ********************* -->

    <session-config>
        <session-timeout>120</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
        <cookie-config>
            <secure>true</secure>
        </cookie-config>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <!-- only need to include this for the kuali tlds
         since tld file will only be searched from within other jars -->
    <jsp-config>
        <taglib>
            <taglib-uri>http://www.kuali.org/jsp/jstl/functions</taglib-uri>
            <taglib-location>/WEB-INF/tld/kuali-func.tld</taglib-location>
        </taglib>

        <!-- customized struts tags -->
        <taglib>
            <taglib-uri>http://www.kuali.org/struts.apache.org/tags-html</taglib-uri>
            <taglib-location>/WEB-INF/tld/kuali-struts-html.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://www.kuali.org/struts.apache.org/tags-html-el</taglib-uri>
            <taglib-location>/WEB-INF/tld/kuali-struts-html-el.tld</taglib-location>
        </taglib>
    </jsp-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ProtectedFolder</web-resource-name>
            <url-pattern>/jsp/*</url-pattern>
            <url-pattern>/package.json</url-pattern>
            <url-pattern>/package-lock.json</url-pattern>
            <url-pattern>/webpack.config.js</url-pattern>
            <url-pattern>/.npmrc</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/classes/edu/cornell/kfs/webservice.xml</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <servlet>
        <display-name>CXF Servlet</display-name>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.transport.servlet.CXFServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dataobjects</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dataobjects</servlet-name>
        <url-pattern>/dataobjects/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <exception-type>org.kuali.kfs.krad.exception.AuthenticationException</exception-type>
        <location>/autherror.html</location>
    </error-page>

    <error-page>
        <location>/ErrorHandlerServlet</location>
    </error-page>

</web-app>
